<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Basic Example</h1>
<div>
    <h2>Client Id: {{ environment.client_id }}</h2>
    <h2>Identity Provider: {{ environment.identity_provider }}</h2>
</div>
<form action="/login" method="post">
    <div>
        <input autocomplete="off" id="inputUsername" name="username" placeholder="Username" type="text" value="">
    </div>
    <div>
        <input autocomplete="off" id="inputPassword" name="password" placeholder="Password" type="password" value="">
    </div>
    <div>
        <input data-type="save" type="submit" value="Sign In">
    </div>
</form>
</body>
</html>